<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ianferger.locator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LocatorMobile</name>
    <description>
       Locator Mobile - An offline mapping app for mobile devices
    </description>
    <author email="iandouglassferger@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="1000"/>
    
    <platform name="android">
        <icon src="resources/android/icons/icon.png"/>
        
        <!-- you can use any density that exists in the Android project -->
        <splash src="resources/android/drawable-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="resources/android/drawable-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="resources/android/drawable-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="resources/android/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>
        
        <splash src="resources/android/drawable-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="resources/android/drawable-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="resources/android/drawable-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="resources/android/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>
    </platform>
 
    
    
</widget>
